<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Entrance</title>


    <link href="/css/entrance/entrance.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/entrance/entrance.js"></script>


</head>
<body>
    <div class="container flex flex-direction-column justifycenter text-align-center">
        <div class="content appear up">
            <div class="flex flex-direction-column justifycenter">
                <a href="login" style="cursor: default;"><img src="\images\myself.jpg" alt="头像" class="item mb10 myself_icon"></a>
                <span class="item mb10 myname">DAI WEI</span>
                <span class="item mb10 title">Personal Homepage</span>
            </div>
            <div class="item mb10">
                <span class="line"></span>
            </div>
            <div class="item mb10 font-size18 research">Nanophotonics | Photonic Crystals</div>
            <div class="item pd10 font-size18">
                <ul class="flex justifycenter mb10 menu">
                    <li><a href="about_me" class="btn mg-0-5 pd5">About Me</a></li>
                    <li><a href="research" class="btn mg-0-5 pd5">Research Interest</a></li>
                    <li><a href="publication" class="btn mg-0-5 pd5">Publication</a></li>
                    <li><a href="blog" class="btn mg-0-5 pd5">My Blog</a></li>
                    <li><a href="contact" class="btn mg-0-5 pd5">Contact Me</a></li>
                </ul>
            </div>
            <div class="flex justifycenter item pd10">
                <a href="https://github.com/WD-nanophotonics"><img class="link_icons" src="\images\github-mark.svg" alt="GitHub"></a>
                <a href="#"><img class="link_icons" src="\images\twitter_icon.svg" alt="GitHub"></a>
            </div>
   
        </div>
	<footer>
		Copyright © Wei Dai All Rights Reserved.
	</footer>
    </div>
 
</body>
</html>
