<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link href="/css/entrance/entrance.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/entrance/entrance.js"></script>
</head>
<body>
    <div class="container flex flex-direction-column justifycenter text-align-center">
		<form class="loginForm" th:action="@{/excuteLogin}" th:object="${form}" method="post">
		<!-- 表单元素 -->
        <div class="content appear up">
            <div class="flex flex-direction-column justifycenter item">
                <div class="flex flex-direction-row justifycenter mb10"><span class="mr10 mt5" style="color: #037c97; font-weight: 600; font-size: 20px;">账号</span><input id="loginId" class="br5 h35 beige" th:field="*{id}"></div>              
                <div class="flex flex-direction-row justifycenter mb20"><span class="mr10 mt5" style="color: #037c97; font-weight: 600; font-size: 20px;">密码</span><input type="password" id="password" class="br5 h35 beige" th:field="*{password}"></div>
            </div>
            <div class="item mb10 item">
                <input type="button" value="登录" class="btn mg-0-5 pd5 font-size18 submit">
                <a href="entrance" class="btn mg-0-5 pd5_3 font-size18 back">返回</a>
            </div>          
        </div>
		</form>
		<footer>
		Copyright © Wei Dai All Rights Reserved.
		</footer>
    </div>
</body>
</html>
